################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Analyse/Analyse.toc
/Analyse/Analyse.synctex.gz
/Analyse/Analyse.pdf
/Analyse/Analyse.log
/Analyse/Analyse.aux
/Taak 1/Taak1.toc
/Taak 1/Taak1.synctex.gz
/Taak 1/Taak1.pdf
/Taak 1/Taak1.log
/Taak 1/Taak1.aux
